// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #3b82f6;
  --ion-color-secondary: #10b981;
  --ion-color-tertiary: #8b5cf6;
  // ... más colores
}
